<p id="notice"><%= notice %></p>

<h1><%= @task.title %>&emsp;<span>(ID: <%= @task.id %> )</span></h1>
<table>
    <% @task.sections.each do |section| %>
      <tr>
        <th><%= section.id %></th>
        <th><input type="checkbox"></th>
        <td><%= link_to section.section_title, section_path(id: section.id) %></td>
        <td><%= section.due_time %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
<%#= link_to 'Edit', edit_task_path(@task) %><!-- |-->
<%= link_to 'タスク一覧へ戻る', tasks_path %> |
<%= link_to '作業を追加する', new_section_path %>
