<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="type2">
  <tr>
    <th><%= f.label :section_title, "作業名" %></th>
    <td><strong><%= f.text_field :section_title %></strong></td>
  </tr>
  <tr>
    <th><%= f.label :due_time, "終了期限" %></th>
    <td><%= f.datetime_select :due_time ,:use_month_numbers => true %></td>
  </tr>
  <tr>
    <th><%= f.label :contents, "作業内容" %></th>
    <td><%= f.text_area :contents %></td>
  </tr>
  <tr>
    <th><%= f.label :task_id, "タスクのID" %></th>
    <td>
      <%= f.collection_select :task_id, @tasks, :id, :title %>
    </td>

  </tr>
  <!--<tr>
    <th><%= f.label :status, "進捗" %></th>
    <td><%= f.check_box :status %></td>
  </tr>-->
</table>
<br>
  <div class="actions">
    <%= f.submit '保存する' %>
  </div>
<% end %>
