<h1>Listing sections</h1>

<table>
  <thead>
    <tr>
      <th>Due time</th>
      <th>Contents</th>
      <th>Task</th>
      <th>Section title</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.due_time %></td>
        <td><%= section.contents %></td>
        <td><%= section.task_id %></td>
        <td><%= section.section_title %></td>
        <td><%= section.status %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
