<p id="notice"><%= notice %></p>
<h1><%= @task.title %>&emsp;<span>(ID: <%= @section.task_id %> )</span></h1>
<table class="type2">
	<tr>
		<th>作業名</th>
		<td><strong><%= @section.section_title %></strong></td>
	</tr>
	<tr>
		<th>終了期限</th>
		<td><%= @section.due_time %></td>
	</tr>
	<tr>
		<th>作業内容</th>
		<td><%= @section.contents %></td>
	</tr>
	<tr>
		<th>タスクID</th>
		<td><%= @section.task_id %></td>
	</tr>
	<!--<tr>
		<th>進捗</th>
		<td><%= @section.status %></td>
	</tr>-->
</table>
<br>
<%= link_to '編集する', edit_section_path(@section) %> |
<%= link_to '各タスクの一覧に戻る', task_path(id: @section.task_id) %>
